

  <h2 class="my-3">Articles</h2>


    <div class="row row-cols-3 g-5 text-start my-2">
      <div class="col" *ngFor="let article of articleArr.slice(0,2)"> <!-- Posso scegliere quanti non randomici fissi mostrare -->
        <div *ngIf="article.active; else elseBlock" class="text-success">Active article</div>
        <ng-template #elseBlock> <div class="text-danger">Inactive article</div></ng-template>
        <div  class="card mb-3 h-100 articolo">
          <div  class="card-body">
            <p class="text-info">Static Article</p>
            <h5 class="card-title">{{article.title}}</h5>
            <p class="card-text corpo-articolo">{{article.body}}</p>
          </div>
          <div class="d-flex justify-content-between container">
            <p class="card-text"><small class="text-body-secondary">Article by User<span> {{article.userId}}</span></small></p>
            <p class="text-body-secondary">{{article.tags}}</p>
          </div>
        </div>
      </div>
      <div class="col" *ngFor="let index of randomIndex">
        <div *ngIf="articleArr[index].active; else elseBlock" class="text-success">Active article</div>
        <ng-template #elseBlock> <div class="text-danger">Inactive article</div></ng-template>
        <div class="card mb-3 h-100 articolo">
          <div class="card-body">
            <p class="text-warning">Random Article</p>
            <h5 class="card-title">{{articleArr[index].title}}</h5>
            <p class="card-text corpo-articolo">{{articleArr[index].body}}</p>
          </div>
          <div class="d-flex justify-content-between container">
            <p class="card-text"><small class="text-body-secondary">Article by User<span> {{articleArr[index].userId}}</span></small></p>
            <p class="text-body-secondary">{{articleArr[index].tags}}</p>
          </div>
        </div>
      </div>
    </div>

