@import 'reset';
@import 'spacing';
@import 'colors';
@import 'font';
@import 'animations';
@import 'buttons';
@import 'mixins';


body{
    width: 100%;
    margin-inline: auto;
    
    box-sizing: border-box;
}

#nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background-color: $top-yellow;
    
    position: sticky;
    top: 0;
    z-index: 2;
    
    img{
        height: 50px;
        
    }
    nav{
        display: flex;
        flex-direction: row;
        gap: 20px;

        a{
            text-decoration: none;
            color: $hero-bg-color;
        }
    }
}   

#headline{
    display: flex;
    flex-direction: row;
    background-color: $hero-bg-color;
    background-size: contain;

    position: relative;


    .headline-text{

        display: flex;
        flex-direction: column;
        width: 45%;
        
        gap: 20px;

        color: $text-color;

    }
    h1{
        @include title-big;
        @include animation(1s, -20px, 0, 0.5s, title-animation);
    }

    p{
        @include animation(1s, -20px, 0, 0.7s, p-animation);
    }
    img{
        width: 40%;
        
        position: absolute;
        
        bottom: -50px;
        right: 50px;
        @include floating;
        @include animation(1s, -60px, 0, 1s, img-animation);
    }


}

.img-grid{
    display: flex;
    gap: 20px;
    img{
        @include grid(4);
        @include floating;
        border: none;
        box-shadow: 	5px 5px 10px rgba(0, 0, 0, 0.216)	;
    }

}
