header {
  background-color: rgba(33, 37, 41, 1);
  backdrop-filter: blur(8px);
  transition: background-color 0.3s ease;
}

header.scrolled {
  background-color: rgba(33, 37, 41, 0.6);
}

img{
  height: 35px;
}
