<header [ngClass]="{'scrolled': scrolled}" class="sticky-top d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 px-3">
  <div class="col-md-3 mb-2 mb-md-0">
    <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
      <svg class="bi" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
    </a>
  </div>

  <ul class="nav col-7 col-md-auto mb-2 justify-content-center mb-md-0">
    <li><a *ngIf="isUserLoggedIn" routerLink="/movies" class="nav-link text-white px-2">Film</a></li>
    <li><a *ngIf="isUserLoggedIn" routerLink="/users" class="nav-link text-white px-2">Utenti</a></li>
    <li><a *ngIf="isUserLoggedIn" routerLink="/profile" class="nav-link text-white px-2">Profilo</a></li>
  </ul>

  <div class="col-md-3 text-end">
    <button *ngIf="!isUserLoggedIn" type="button" routerLink="/auth/login" class="btn btn-outline-warning me-2">Accedi</button>
    <button *ngIf="!isUserLoggedIn" type="button" routerLink="/auth/register" class="btn btn-success">Registrati</button>
    <button (click)="logout()" *ngIf="isUserLoggedIn" class="btn btn-danger">Esci</button>
  </div>
</header>

