@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

body{
    background-color: #666666;
    overflow: hidden;
}

#board{
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    row-gap: 20px;
    padding: 80px 0;
    box-sizing: border-box;
    perspective: 20px;
}

.post-it{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 21%;
    aspect-ratio: 4/3;
    gap: 30px;
    
    transition: all 0.07s;
    
    opacity: 0;
    perspective: 0;
    background-color: #f3f4c0;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.455), inset 0 -50px 40px -20px rgba(0, 0, 0, 0.288);
    font-size: 1.4em;
    font-family: "Indie Flower", cursive;

    animation-fill-mode: forwards;

}

.post-it:nth-of-type(1), .post-it:nth-of-type(5), .post-it:nth-of-type(7){
    background-color: #f3f4c0;
    transform: rotate(355deg);
}

.post-it:nth-of-type(2), .post-it:nth-of-type(8){
    background-color: #C8F8CA;
    transform: rotate(3deg);
    
}

.post-it:nth-of-type(4){
    background-color: #C8F8CA;
    transform: rotate(9deg);
}

.post-it:nth-of-type(3), .post-it:nth-of-type(6){
    background-color: #C0C1E8;
    transform: rotate(353deg);
}

h2{
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 20px;
}





.post-it:nth-of-type(1){
    animation-duration: 0.5s;
    animation-name: entry;
}

.post-it:nth-of-type(2){
    animation-duration: 0.5s;
    animation-delay: 2s;
    animation-name: entry;
}

.post-it:nth-of-type(3){
    animation-duration: 0.5s;
    animation-delay: 0.3s;
    animation-name: entry;
}

.post-it:nth-of-type(4){
    animation-duration: 0.5s;
    animation-delay: 1s;
    animation-name: entry;
}

.post-it:nth-of-type(5){
    animation-duration: 0.5s;
    animation-delay: 0.8s;
    animation-name: entry;
}

.post-it:nth-of-type(6){
    animation-duration: 0.5s;
    animation-delay: 1.5s;
    animation-name: entry;
}

.post-it:nth-of-type(7){
    animation-duration: 0.5s;
    animation-delay: 1.3s;
    animation-name: entry;
}

.post-it:nth-of-type(8){
    animation-duration: 0.5s;
    animation-delay: 1.1s;
    animation-name: entry;
}



@keyframes entry{
    from{
        opacity: 1;
        scale: 2;
    }
    to{
        opacity: 1;
        scale: 1;
   
    }
}

.post-it:hover{
    z-index: 1;
    transform: translateZ(1px);
    scale: 1.2;
    box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.455), inset 0 -50px 40px -20px rgba(0, 0, 0, 0.288);
    filter: brightness(110%);
}