<div class="container mt-5">
  <h1 class="text-white mb-4">Il tuo profilo</h1>
  <div class="card text-white">
    <div class="row g-0">
      <!-- <div class="col-md-4">
        <img src="avatar.jpg" class="img-fluid" alt="Avatar">
      </div> -->
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{currentUser?.firstName}} {{currentUser?.lastName}}</h5>
          <p class="card-text">{{currentUser?.email}}</p>
          <p class="card-text">#ID: {{currentUser?.id}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

