@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --light_yellow: #FBF7E3;
    --dark_yellow: #F3DF85;
    --text_brown: #803008;
}

body{
    font-family: "Roboto", sans-serif;
}

.product-cards{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

h2{
    margin: 40px;
    text-align: center;
    color: var(--text_brown);
    font-size: 1.8rem;
    font-weight: bold;
}

.article-title{
    margin: 0;
}

.article h2{
    font-size: 1.2rem;
    font-weight: bold;
}

.article-text{
    font-size: 0.8rem;
    line-height: 1.2em;
}