@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

header li {
  margin-bottom: 10px;
}

main ul {
  display: block;
  list-style-type: disc;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
}

main ol {
  display: block;
  list-style-type: decimal;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
}

.pagina {
  padding: 20px;
  background-image: url(../img/sfondo.png);
}

.header {
  padding: 40px;
  background: linear-gradient(
    180deg,
    rgba(0, 154, 193, 1) 0%,
    rgba(0, 104, 136, 1) 100%
  );
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: bold;
  box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.562);
}

.header a {
  text-decoration: none;
  color: inherit;
}

.logo {
  width: 300px;
}

.titolo{
    font-size: 1.8em;
    font-weight: bold;
    line-height: 4rem;
    margin-bottom: 30px;
}

.sottotitolo {
  padding: 40px 0;
}

.main {
  margin: 30px 0;
  padding: 60px 20px;
  background-color: white;
  box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.562);
  line-height: 30px;
}

.highlight{
    font-weight: bold;
    color: #9e2b85;
}

.footer {
  color: white;
  box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.562);
  background: linear-gradient(
    180deg,
    rgba(0, 85, 102, 1) 0%,
    rgba(49, 59, 55, 1) 100%
  );
}

.autore {
  color: rgb(146, 146, 146);
  margin-bottom: 30px;
}

.titolo-sezione {
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 40px;
}

.novità {
  background-color: rgb(226, 226, 226);
  padding: 20px;
  margin: 40px 0;
}

.novità h2 {
  margin-bottom: 40px;
}

.novità p {
  font-size: 1.4rem;
  line-height: 1.4rem;
}

.form {
  text-align: center;
  margin-top: 20px;
}

.blocco-aside {
  margin: 20px 0;
  padding: 20px 20px;
  background-color: rgb(226, 226, 226);
  border: 2px solid rgb(199, 199, 199);
  font-size: 1.4rem;
  line-height: 30px;
}


a {
    color: #1e9cbe;
    font-weight: bold;
}
.data {
  text-align: right;
  font-size: 1.1rem;
  vertical-align: bottom;
  margin-top: 20px;
}

.video {
  width: 100%;
  max-height: 230px;
  border-radius: 25px;
  margin-top: 30px;
}

article {
  font-size: 1.4rem;
}

.caption{
    font-style: italic;
    font-weight: bold;
}

.table th{
    background-color: #3b67d1;
    color: white;
}
.table{
    padding: 20px;
    line-height: 60px;
    text-align: center;
    vertical-align: middle;
    height: 60px;
}

.tag{
    background-color:  rgb(226, 226, 226);
    border: 2px solid rgb(190, 190, 190);
    border-radius: 5px;
}

.footer{
    padding: 20px;
    text-align: center;
    font-size: 1.2rem;
    line-height: 30px;
}

.footer a{
    color: #f644fc;
    font-weight: bold;
}