
<header class="navbar bg-dark sticky-top d-flex justify-content-start align-items-center py-3">
  <img id="logo" class="mx-3" src="../../../assets/img/logo sito.png" routerLink="/" alt="">
  <ul class="nav nav-pills">
    <a class="nav-link text-warning fw-bold" aria-current="page" routerLink="/">Home</a>
    <a class="nav-link text-white" routerLink="audi">Audi</a>
    <a class="nav-link text-white" routerLink="fiat">Fiat</a>
    <a class="nav-link text-white" routerLink="ford">Ford</a>
  </ul>
</header>
