@import 'colors';
@import 'mixins';
@import 'carousel';
@import 'header';
@import 'footer';
@import 'profile';
@import 'settings';
@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import '../node_modules/@splidejs/splide/dist/css/splide.min.css';


.btn{
    border-radius: 0;
}

.side-btns{
    font-size: 1.2em;
    gap: 20px;
    p{
        font-size: .7em;
        line-height: 2em;
    }
    &:hover{
        cursor: pointer;
    }
}

#title-sx{
    gap: 40px;
    button{
        border-radius: 1px;
        &:hover{
            filter: brightness(120%);
        }
    }
    .dropdown-menu{
        border-radius: 0;
    }
}

.btn-group{
    button{
        font-size: .7em;

        text-align: center;
    }
}