<h2 class="my-3">Inactive Articles</h2>
    <div class="row row-cols-3 g-5 text-start my-2">
      <div class="col" *ngFor="let article of articleArr">
        <div class="card mb-3 h-100 articolo border" [ngClass]="{'border-primary': article.active}">
          <div  class="card-body">
            <h5 class="card-title">{{article.title}}</h5>
            <p class="card-text corpo-articolo">{{article.body}}</p>
          </div>
          <div class="d-flex justify-content-between container">
            <p class="card-text"><small class="text-body-secondary">Article by User<span> {{article.userId}}</span></small></p>
            <div>
              <span appRandomcolor *ngFor="let tag of article.tags" class="badge me-1 contrasto">{{ tag | uppercase }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>

